.data ul {
  display: flex;
  flex-direction: column;
}
.data ul li {
  width: 7.3rem;
  height: 2.3rem;
  background-color: #fff;
  border-radius: 0.1rem;
  margin: 0.1rem 0;
  display: flex;
}
.data ul li .img {
  width: 2.4rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data ul li .img img {
  width: 1.86rem;
  height: 1.86rem;
}
.data ul li .txt {
  width: 4.9rem;
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data ul li .txt .txt1 {
  font-size: 0.3rem;
}
.data ul li .txt .txt2 {
  font-size: 0.18rem;
  color: #b4b4b4;
  margin-top: 0.1rem;
}
.data ul li .txt .txt3 {
  font-size: 0.18rem;
  margin-top: 0.1rem;
}
.data ul li .txt .txt3 s {
  color: #b4b4b4;
}
.data ul li .txt .btn {
  width: 1.22rem;
  height: 0.4rem;
  border-radius: 0.05rem;
  background-color: #38ad67;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
  margin-top: 0.1rem;
}
